@font-face {
    font-family: "Love";
    src: url(./Love.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(233, 233, 233);
    font-family: "Love", sans-serif;
    height: 100vh;
}

.btn {
    display: flex;
    gap: 30px;
}

button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.oui {
    background-color: #12a935;
    transition: width .5s, height .5s;
}

.non {
    background-color: #f10404;
}

h1 {
    color: #c05757;
    text-transform: uppercase;
    font-size: 40px;
}